.background-color__checkin {
    background-color: #EFF1F4;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 7rem 0 0;
}

.login__titulo {
    font-family: "Nunito", open-sans;
    font-weight: 700;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.79);
    margin-bottom: 1rem;
}

.form {
    position: relative;
    z-index: 1;
    border-radius: 20px;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input, select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 14px;
}

.form input::placeholder {
    color: gray;
}

select:invalid {
    color: gray;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #1a1a1a;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    background: #8D99AE;
}
.form button:hover {
    background: #73829C;
    transition: .50s;
    color: #1a1a1a;
}

/* ====== Tela CPF ====== */

/*--------------------------------------------------------------
# Cabeçalho
--------------------------------------------------------------*/
.cabecalho {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: .5rem;
}

.cabecalho__nome-evento {
    font-family: "Open sans", sans-serif;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cabecalho__imagem {
    width: 170px;
}

/*--------------------------------------------------------------
# Seção Evento
--------------------------------------------------------------*/
.evento__imagem {
    width: 100vw;
    height: 35vh;
}

/*--------------------------------------------------------------
# Seção Input CPF
--------------------------------------------------------------*/
.campo-cpf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-cpf__texto {
    font-size: 1.5rem;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    padding-bottom: .7rem;
    padding-top: 3rem;
}

.campo-cpf__tela {
    border: none;
    min-width: 491px;
    max-width: 500px;
    width: 60vw;
    height: 54px;
    margin-bottom: 1rem;
    font-family: 'Open-sans', sans-serif;
    font-size: 1.5rem;
    box-shadow: 0 0 .2em rgb(43, 43, 43);
    background-color: #EFF1F4;
    opacity: 0.7;
    border-radius: 20px;
    text-align: center;
    font-weight: 300;
    margin-top: 3rem;
}

/*--------------------------------------------------------------
# Seção dos Botões
--------------------------------------------------------------*/
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
}

.botoes__container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1.5rem;
    column-gap: 4rem;
    justify-items: center;
    margin-top: 2rem;
}

.botoes__botao {
    width: 98px;
    height: 97px;
    border-radius: 100px;
    padding: 10px 24px;
    font-family: 'Open sans', sans-serif;
    font-size: 2.3rem;
    font-weight: 300;
    box-shadow: 0 0 .2em rgb(43, 43, 43);
    opacity: 0.7;
}

.botoes__botao--apagar, .botoes__botao--enviar {
    width: 98px;
    height: 97px;
    border-radius: 100px;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    box-shadow: 0 0 .2em rgb(43, 43, 43);
    opacity: 0.7;
}

.botoes__botao:active, .botoes__botao--apagar:active, .botoes__botao--enviar:active {
    opacity: 1;
    transition: .25s;
    color: rgb(43, 43, 43);
}

.botoes__botao:hover, .botoes__botao--apagar:hover, .botoes__botao--enviar:hover {
    cursor: pointer;
}

.input-background {
    background-image: linear-gradient(0deg, rgb(44, 108, 188) 0%, rgb(113, 195, 247) 50%, rgb(246, 246, 246) 100%);
}

.footer-heigth {
    height: 5vh;
}

/*--------------------------------------------------------------
# Pop-up
--------------------------------------------------------------*/
.pop-up__container {
    display: none;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pop-up {
    background: #EFF1F4;
    position: relative;
    width: 75vw;
    height: auto;
    margin: 10% auto;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    max-width: 520px;
}

.pop-up__sair {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: #1a1a1a;
}

.pop-up__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area-video {
    width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 10px;
}

.botao__foto {
    position: relative;
    margin-top: 2rem;
    background: #8D99AE;
    width: 100%;
    max-width: 480px;
    height: 3rem;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.area-canva {
    display: none;
    width: 100%;
    justify-content: space-between;
    max-width: 480px;
    max-height: 400px;
    border-radius: 10px;
}