/*--------------------------------------------------------------
# Cabeçalho
--------------------------------------------------------------*/
.cabecalho {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}

.cabecalho__imagem {
    width: 170px;
}

/*--------------------------------------------------------------
# Seção Evento
--------------------------------------------------------------*/
.evento__imagem {
    width: 100vw;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

/*--------------------------------------------------------------
# Seção Input CPF
--------------------------------------------------------------*/
.campo-cpf {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.campo-cpf__texto {
    font-size: 1.5rem;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    padding-bottom: .7rem;
}

.campo-cpf__tela {
    border: 2px solid #000;
    border-radius: 10px;
    width: 505px;
    height: 54px;
    margin-bottom: 1rem;
}

/*--------------------------------------------------------------
# Seção dos Botões
--------------------------------------------------------------*/
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
}

.botoes__container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1rem;
    justify-items: center;
}

.botoes__botao {
    width: 98px;
    height: 97px;
    border: 0;
    border: 1px solid #000;
    border-radius: 100px;
    padding: 10px 24px;
    font-family: 'Open sans', sans-serif;
    font-size: 2.3rem;
    font-weight: 300;
    box-shadow: 0 0 .1em rgb(43, 43, 43);
}

.botoes__botao:active {
    background-color: rgb(43, 43, 43);
    transition: .25s;
    color: aliceblue;
}

/* .botoes__finais {
    display: flex;
    margin: 0 20%;
    justify-content: space-between;
} */

.botoes__botao--apagar, .botoes__botao--enviar {
    width: 153px;
    height: 75px;
    border: 0;
    border: 1px solid #000;
    border-radius: 100px;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    box-shadow: 0 0 .1em rgb(43, 43, 43);
}

.botoes__botao--apagar:active {
    background-color: rgb(43, 43, 43);
    transition: .25s;
    color: aliceblue;
}

.botoes__botao--enviar:active {
    background-color: rgb(43, 43, 43);
    transition: .25s;
    color: aliceblue;
}