body {
    background-color: rgba(221, 238, 252, 1);
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 7rem 0 0;
}

.login__titulo {
    font-family: "Nunito", open-sans;
    font-weight: 700;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.79);
    margin-bottom: 1rem;
}

.form {
    position: relative;
    z-index: 1;
    border-radius: 20px;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input, select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 14px;
}

.form input::placeholder {
    color: gray;
}

select:invalid {
    color: gray;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #1a1a1a;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    background: rgba(221, 238, 252, 1);
}
.form button:hover,.form button:active,.form button:focus {
    background: rgb(199, 226, 249);
    transition: .30s;
    color: #1a1a1a;
}

/* ====== Tela CPF ====== */

/*--------------------------------------------------------------
# Cabeçalho
--------------------------------------------------------------*/
.cabecalho {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}

.cabecalho__imagem {
    width: 170px;
}

/*--------------------------------------------------------------
# Seção Evento
--------------------------------------------------------------*/
.evento__imagem {
    width: 100vw;
    padding-bottom: 10px;
}

/*--------------------------------------------------------------
# Seção Input CPF
--------------------------------------------------------------*/
.campo-cpf {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.campo-cpf__texto {
    font-size: 1.5rem;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    padding-bottom: .7rem;
}

.campo-cpf__tela {
    border: 2px solid #000;
    border-radius: 10px;
    min-width: 491px;
    max-width: 500px;
    width: 60vw;
    height: 54px;
    margin-bottom: 1rem;
    font-family: 'Open-sans', sans-serif;
    font-size: 2rem;
}

/*--------------------------------------------------------------
# Seção dos Botões
--------------------------------------------------------------*/
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
}

.botoes__container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1rem;
    justify-items: center;
}

.botoes__botao {
    width: 98px;
    height: 97px;
    border: 0;
    border: 1px solid #000;
    border-radius: 100px;
    padding: 10px 24px;
    font-family: 'Open sans', sans-serif;
    font-size: 2.3rem;
    font-weight: 300;
    box-shadow: 0 0 .1em rgb(43, 43, 43);
    background: linear-gradient(230.23deg, #E7E7E7 9.13%, rgba(255, 255, 255, 0.72) 85.8%);
}

.botoes__botao:active {
    background-color: rgb(43, 43, 43);
    transition: .25s;
}

.botoes__botao--apagar, .botoes__botao--enviar {
    width: 153px;
    height: 75px;
    border: 0;
    border: 1px solid #000;
    border-radius: 100px;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    box-shadow: 0 0 .1em rgb(43, 43, 43);
    background: linear-gradient(230.23deg, #E7E7E7 9.13%, rgba(255, 255, 255, 0.72) 85.8%);
}

.botoes__botao--apagar:active {
    background-color: rgb(43, 43, 43);
    transition: .25s;
}

.botoes__botao--enviar:active {
    background-color: rgb(43, 43, 43);
    transition: .25s;
    color: aliceblue;
}